body{
    background-color:crimson;
    display: flex;
    justify-content: left;
}
h1{
    margin-top: 200px;
    margin-left: 50px;
    justify-content: left;
    align-items: center;
}
.container{
    background-color:coral;
    padding: 80px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.container h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-display: block;
}
.container label{
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #444;
    font-size: 0.9em;
}
.container input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    transition: border-color 0.3s;
}
button{
    width: 50%;
    padding: 12px;
    background-color:burlywood;  
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}
button:hover{
    background-color:cadetblue;
}
button:active{
    transform: scale(0.99);
}